@using Microsoft.AspNetCore.SignalR.Client
@inject Store Store

<div class="d-none d-md-flex side-panel">
    <h3>Broadcast</h3>

    <div class="flex-fill">
        @if (Store.HasBroadcastMessages)
        {
            <ul></ul>
        } 
        else
        {
            <div class="text-danger">No messages</div>
        }
    </div>

    <form>
        <div class="form-floating text-dark">
            <input
                id="broadcast-message"
                type="text"
                placeholder="Type message and hit enter"
                class="form-control"
            />
            <label for="broadcast-message">Broadcast Message</label>
        </div>
    </form>
</div>
