@inject Store Store

<div class="d-none d-md-flex side-panel">
    <h3>Users</h3>
    <ul class="list-unstyled">
        @foreach (var user in Store.ConnectedUsers)
        {
            <li class="d-flex flex-row mb-2">
                <div class="me-2">@user.RoleIcon</div>
                <div class="flex-fill">@user.Name</div>
            </li>
        }
    </ul>
</div>
