@inject ILogger<ConnectionForm> logger

<EditForm Model="connectionData" OnValidSubmit="ValidSubmit" class="d-flex flex-column m-2">

    <fieldset class="mb-4">
        <label for="name">Name</label>
        <InputText id="name"
                   name="Name"
                   type="text"
                   required
                   placeholder="Name"
                   class="form-control"
                   @bind-Value="connectionData.Name" />
    </fieldset>

    <fieldset class="container-fluid mb-4">
        <label>Role</label>

        <div class="row py-2 bg-white border rounded">
            <InputRadioGroup @bind-Value="connectionData.Role">

                @foreach (var role in roles)
                {
                    <div class="col">
                        <InputRadio id="@role" required Value="@role" />
                        <label for="@role" class="pointer">
                            @role
                        </label>
                    </div>
                }

            </InputRadioGroup>
        </div>
    </fieldset>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">
            Connect
        </button>
    </div>

</EditForm>

@code {
    private ConnectionData connectionData = new ConnectionData();

    private string[] roles = { "Lead", "Wing", "Viewer" };

    private void ValidSubmit()
    {
        logger.LogWarning($"Valid submit: {connectionData}");
    }
}
