@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <h1 class="m-0">AirSim</h1>
            </a>
        </div>
    </nav>
</header>

<main class="flex-fill">
    @Body
</main>

<footer class="p-2 bg-dark text-light">
    &copy; 2023 AirSim
</footer>
