@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <h1 class="m-0 fs-4 fw-normal">AirSim</h1>
            </a>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink href="/" class="nav-link">🏠</NavLink>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="flex-fill">
    @Body
</main>

<footer class="p-2 bg-dark text-light">
    &copy; 2023 AirSim
</footer>
