@inherits LayoutComponentBase
@implements IDisposable
@inject Store Store

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <NavLink href="/" class="navbar-brand">
                <h1 class="m-0 fs-4 fw-normal">AirSim</h1>
            </NavLink>

            <div class="d-flex align-items-center justify-content-end text-light">
                @if (Store.CurrentUser.Connected)
                {
                    <div>
                        @Store.CurrentUser.Name
                        (@Store.CurrentUser.Role)
                        <i class="bi-circle-fill cursor-pointer text-success" @onclick="DisconnectUser" />
                    </div>
                }
                else
                {
                    <i class="bi-circle-fill text-danger" />
                }
            </div>
        </div>
    </nav>
</header>

<main class="flex-fill d-flex">

    @if (Store.Connected && Store.HasConnectedUsers) {
        <ConnectedUsersPanel />
    }

    <div class="flex-fill">
        @Body
    </div>

    @if (Store.Connected) {
        <BroadcastPanel />
    }

</main>

<footer class="p-2 bg-dark text-light">
    &copy; 2023 AirSim
</footer>

@code {
    protected override void OnInitialized() => Store.OnChange += StateHasChanged;
    public void Dispose() => Store.OnChange -= StateHasChanged;
    private void DisconnectUser() => Store.DisconnectUser();
}
