:root {
    --bs-body-bg: var(--bs-gray-100);
}

body {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.side-panel {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 12rem;
    padding: 1rem;
    background-color: var(--bs-gray-800);
    color: var(--bs-light);
}
